<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab6_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  
   <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
 
 
  <context-param>
    <param-name>q1</param-name>
    <param-value>a</param-value>
  </context-param>
   
  <context-param>
    <param-name>q2</param-name>
    <param-value>b</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Post1</display-name>
    <servlet-name>Post1</servlet-name>
    <servlet-class>Post1</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Student1</param-value>
    </init-param>
    <init-param>
      <param-name>Password</param-name>
      <param-value>Student1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post1</servlet-name>
    <url-pattern>/Post1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Post2</display-name>
    <servlet-name>Post2</servlet-name>
    <servlet-class>Post2</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Student2</param-value>
    </init-param>
    <init-param>
      <param-name>Password</param-name>
      <param-value>Student2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post2</servlet-name>
    <url-pattern>/Post2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Post3</display-name>
    <servlet-name>Post3</servlet-name>
    <servlet-class>Post3</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Student3</param-value>
    </init-param>
    <init-param>
      <param-name>Password</param-name>
      <param-value>Student3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post3</servlet-name>
    <url-pattern>/Post3</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Url</param-name>
    <param-value>https://www.kluniversity.in/</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Post_b</display-name>
    <servlet-name>Post_b</servlet-name>
    <servlet-class>Post_b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post_b</servlet-name>
    <url-pattern>/Post_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Post2_b1</display-name>
    <servlet-name>Post2_b1</servlet-name>
    <servlet-class>Post2_b1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post2_b1</servlet-name>
    <url-pattern>/Post2_b1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlab1_1</display-name>
    <servlet-name>Inlab1_1</servlet-name>
    <servlet-class>Inlab1_1</servlet-class>
    <init-param>
      <param-name>q1</param-name>
      <param-value>b</param-value>
    </init-param>
    <init-param>
      <param-name>q2</param-name>
      <param-value>a</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlab1_1</servlet-name>
    <url-pattern>/Inlab1_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlab1_2</display-name>
    <servlet-name>Inlab1_2</servlet-name>
    <servlet-class>Inlab1_2</servlet-class>
    <init-param>
      <param-name>q1</param-name>
      <param-value>a</param-value>
    </init-param>
    <init-param>
      <param-name>q2</param-name>
      <param-value>b</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlab1_2</servlet-name>
    <url-pattern>/Inlab1_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlab1_3</display-name>
    <servlet-name>Inlab1_3</servlet-name>
    <servlet-class>Inlab1_3</servlet-class>
    <init-param>
      <param-name>q1</param-name>
      <param-value>a</param-value>
    </init-param>
    <init-param>
      <param-name>q2</param-name>
      <param-value>a</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlab1_3</servlet-name>
    <url-pattern>/Inlab1_3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlab2</display-name>
    <servlet-name>Inlab2</servlet-name>
    <servlet-class>Inlab2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlab2</servlet-name>
    <url-pattern>/Inlab2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlablow</display-name>
    <servlet-name>Inlablow</servlet-name>
    <servlet-class>Inlablow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlablow</servlet-name>
    <url-pattern>/Inlablow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlabupp</display-name>
    <servlet-name>Inlabupp</servlet-name>
    <servlet-class>Inlabupp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlabupp</servlet-name>
    <url-pattern>/Inlabupp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inlabnum</display-name>
    <servlet-name>Inlabnum</servlet-name>
    <servlet-class>Inlabnum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inlabnum</servlet-name>
    <url-pattern>/Inlabnum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Score</display-name>
    <servlet-name>Score</servlet-name>
    <servlet-class>Score</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Score</servlet-name>
    <url-pattern>/Score</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostGoogleSearch</display-name>
    <servlet-name>PostGoogleSearch</servlet-name>
    <servlet-class>PostGoogleSearch</servlet-class>
    <init-param>
    	<param-name>username</param-name>
    	<param-value>system</param-value>
    </init-param>
    
    <init-param>
    	<param-name>password</param-name>
    	<param-value>Dileep</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostGoogleSearch</servlet-name>
    <url-pattern>/PostGoogleSearch</url-pattern>
  </servlet-mapping>
</web-app>